/* Global Styling ======================================================*/
body {
    margin:0 auto;
    padding:0px;
    text-align: center;
}

p, li /* Homepage Adress & List of Amenities */{
    margin:0 auto;
    font:15px "Open Sans", sans-serif;
    color:#fefefe;

}

img, iframe{
    box-shadow: 5px 5px 11px #364330;
    width:400px;
}

#equal-logo {
    box-shadow: none;
    max-width: 35px;
    position: absolute;
    top:93vh;
    right:15px;
}

/* Homepage ============================================================*/
.homepage {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    min-height:100vh;
    width:100vw;
    background-color: #fefefe;
}

.left-side /*Company Name & Navbar */{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left:5px solid #87A878;
    color:#87A878;
    height:300px;
    padding:0 30px;
    width:35vw;
}

h1 /*Chelsea Development*/{
    font:80px "Fjalla One", sans-serif;
    margin:0;
    text-align: left;
    padding-left:10px;
}

/* Navbar */
nav {
    display: flex;
}

nav a {
    padding:5px;
    font:14px "Open Sans", sans-serif;
    text-transform: uppercase;
    color:#516448;
    font-weight: bold;
    letter-spacing: .5px;
}

.homepage nav a {
    margin-right:15px;
}

a {
    text-decoration: none;
    color:#283224;
    border-radius: 2px;
}

nav a:hover {
    transition:.15s;
    background-color: #cfdcc9;
}

.right-side /*Slideshow of Apartments*/ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #87A878;
    height:100vh;
    width:55vw;
}

h3 /* Name of Apartment on Homepage*/ {
    font:30px "Fjalla One", sans-serif;
    margin:0 auto;
    padding:20px 5px 5px 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#283224;
}


/* Individual Apt Pages ============================================================*/
.housing-pg {
    display:flex;
    justify-content: space-between;
    max-width:100vw;
    min-height: 100vh;
    background-color:#e7ede4;
}

.housing-left-side, .housing-right-side{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
}

.housing-left-side /* Navbar, Title, Amenities, Contact */{
    justify-content: space-between;
    background-color:#87A878;
    max-height: 100vh;
    overflow: scroll;
    border-right:5px solid #cfdcc9;
}

.top /* Navbar and Title ONLY */{
    width:100%;
}

/* Housing Page Navbar */
.housing-pg nav {
    justify-content: center;
}

.housing-pg nav a {
    color: #283224;
    padding:15px;
    border-radius: 0;
}

.housing-pg nav a:hover{
    color: #f5f8f4;
    transition: .15s;
    background-color:#364330;
}

h2 /*Apartment Name*/{
    font:30px "Fjalla One", sans-serif;
    margin:0;
    padding:10px 0;
    color:#1b2118;
    background-color:#cfdcc9;
    width:100%;
    box-shadow: 0 10px 10px -8px #364330;
}

hr /*Decorative Line under Headers */{
    border: 0;
    border-radius: 50px;
    height: 3px;
    background-color: #cfdcc9;
    width: 100px;
}

.building-details /* Div containing Amenities, Building Info, & Utilities */ {
    padding:0 50px;
}

.vacancy{
    font:16px "Fjalla One";
    color: #1b2118;
}

.amenity-title /* Header for all Building Details Sub Categories */ {
    font:20px "Fjalla One", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color:#283224;
    text-align: center;
    margin-top:40px;
}

#amenities-specific /* Specifically "Amenities" */ {
    margin-top:20px;
}

.amenities p /* Info listed under each header */{
    padding:2px 0;
}

.name /* Debbie's Name */{
    font-size:18px;
}

/* Lines around Name */
.name:before, .name:after {
 background-color: #333;
 content: "";
 display: inline-block;
 height: 2px;
 position: relative;
 vertical-align: middle;
 width: 8%;
}

.name:before {
 right: 0.5em;
 margin-left: -50%;
}

.name:after {
 left: 0.5em;
 margin-right: -50%;
}

.contact {
    margin:30px 0;
}

.contact p /* Contact Info */{
    color:#1b2118;
    padding:2px;
}

/* ==================================================================*/
.housing-right-side /* Address, Image, Rental App */{
    justify-content: center;
    background-color:#e7ede4;
    width:100%;
}

.address /* Found at top of Image */{
    font:20px "Fjalla One", sans-serif;
    background-color: #87A878;
    width:45vmax;
    padding:14px 0;
    margin-bottom: 5px;
    box-shadow: 0 10px 10px -8px #364330;
    border-radius: 2px;
}

.housing-img /* Div containing Image and Side Arrows */{
    display: flex;
    align-items: center;
}

.housing-pg img, iframe {
    width:45vw;
    max-height:65vh;
}

i /* Side Arrows */{
    font-size:55px;
    margin:20px;
    cursor: pointer;
    color:#283224;
}

i:hover {
    color:#516448;
    transition: .15s;
    transform: scale(1.1);
}


/* Rental Application ==========================================================*/
.rental-app {
    background-color:#516448;
    padding:20px;
    margin:10px 0;
    box-shadow: 3px 3px 5px #283224;
    border-radius: 5px;
    cursor: pointer;
    width:42vmax;
}

.rental-app:hover {
    background-color: #364330;
    box-shadow: 2px 2px 5px #283224;
    transition: .1s;
    transform: scale(.99);
}

h4 /* Rental Application (PDF) */{
    font:17px "Fjalla One", sans-serif;
    padding-bottom:8px;
    margin:0;
    color:#fefefe;
    letter-spacing: .8px;
}

.rental-app p /* Application Fee Required */{
    font-size:10px;
    color:#cfdcc9 ;
}

/* Slideshow Animation ============================================ */
.img {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: .5s;
  }
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Screen Responsive ==========================================================*/
@media only screen and (max-width: 1150px) {
    h1{
        font-size:6vw;
    }
    .housing-pg nav {
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (max-width: 1050px) {
    .homepage {
        background-color:#87A878;
        align-content: flex-start;
    }

    .left-side{
        width:100vw;
        border-left:none;
        height:100%;
        border-bottom:4px solid #cfdcc9;
        background-color:#fefefe;
    }

    h1{
        font-size:50px;
        padding:15px 0 10px 0;
        text-align: center;
    }

    nav {
        padding: 10px 0;
        margin: 0 auto;
    }

    .homepage nav a {
        margin-right:0px;
        padding:10px;
        margin:0 5px;
    }

    .right-side{
        height:100%;
        max-width:100vw;
        width:100%;
        padding:30px 0;
    }

    /* Individual Apts */
    .housing-pg {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .top {
        background-color: #fefefe;
        width:100vw;
        margin:0;
    }

    .housing-pg nav a{
        border-radius: 5px;
    }

    .housing-pg nav a:hover{
        color:#1b2118;
        background-color:#cfdcc9;
    }
    
    span {
        color:#87A878 !important;
    }

    .housing-left-side,.housing-right-side{
        height: 100%;
        max-width:100vw;
        width:100vw;
        max-height: 100%;
        border: none;
    }

    .building-details {
        max-width: 60vw;
    }

    .housing-right-side {
        border-top:5px solid #516448;
        padding:40px 0;
    }

    .address {
        max-width: 45vw;
    }

    iframe {
        max-height: 300px;
    }

    .rental-app {
        width:41vw;
    }
}

/* Mobile Responsive ===============================================*/
@media only screen and (max-width: 600px) {
    .left-side{
        padding:0;
    }
    h1{
        font-size:40px;
        width:100vw;
    }

    nav {
        max-width: 100vw;
        margin:0 auto;
        justify-content: center;
    }

    .homepage nav a{
        padding:6px;
    }

    .address {
        max-width: 100vw;
        width:80vw;
    }

    img, iframe{
        width: 80vw !important;
        margin:0 auto;
        max-height: 300px;
    }

    h3 {
        font-size: 20px;
    }

    .address {
        font-size: 15px;
    }

    .rental-app {
        margin-bottom:30px;
        padding:20px 10px;
        width:75vw;
    }
    
    i {
        position: absolute; 
        font-size: 35px;
    }
    .fa-angle-left {
       left:-15px;
    }
    .fa-angle-right {
        right:-15px;
    }
    #equal-logo {
        position: fixed;
        max-width: 30px;
        top:93vh;
    }
}