/* Global Styling ======================================================*/
body {
    margin:0 auto;
    padding:0px;
    text-align: center;
}

p, li /* Homepage Adress & List of Amenities */{
    margin:0 auto;
    font:15px "Open Sans", sans-serif;
    color:#fefefe;

}

img {
    box-shadow: 5px 5px 11px #364330;
    width:400px;
}

/* Homepage ============================================================*/
.homepage {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    width:100vw;
    background-color: #fefefe;
}

.left-side /*Company Name & Navbar */{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left:5px solid #87A878;
    color:#87A878;
    height:300px;
    padding:0 30px;
    width:35vw;
}

h1 /*Chelsea Development*/{
    font:80px "Fjalla One", sans-serif;
    margin:0;
    text-align: left;
    padding-left:10px;
}

/* Navbar */
nav {
    display: flex;
    text-align: left;
}

nav a {
    padding:12px 15px;
    font:14px "Open Sans", sans-serif;
    text-transform: uppercase;
    color:#516448;
    font-weight: bold;
    letter-spacing: .5px;
}

a {
    text-decoration: none;
    color:#283224;
}

a:hover {
    background-color:#364330;
    color:white;
    transition:.15s;
}

.right-side /*Slideshow of Apartments*/ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #87A878;
    height:100vh;
    width:55vw;
}

h3 /* Name of Apartment Complex & Debbie's Name*/ {
    font:30px "Fjalla One", sans-serif;
    margin:0 auto;
    padding:20px 5px 5px 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#283224;
}


/* Individual Apt Pages ============================================================*/
.housing-pg {
    display:flex;
    justify-content: space-between;
    max-width:100vw;
    min-height: 100vh;
    background-color:#e7ede4;
}

.housing-left-side, .housing-right-side{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
}

.housing-left-side /* Navbar, Title, Amenities, App Form */{
    justify-content: space-between;
    background-color:#87A878;
    max-height: 100vh;
    overflow: scroll;
}

.top /* Navbar and Title ONLY */{
    width:100%;
}

/* Housing Page Navbar */
.housing-pg nav {
    justify-content: center;
}

.housing-pg nav a {
    color: #283224;
    padding:15px;
}

.housing-pg nav a:hover{
    color: #f5f8f4;
    transition: .15s;
}

h2 /*Apartment Name*/{
    font:35px "Fjalla One", sans-serif;
    margin:0;
    padding:10px 0;
    color:#1b2118;
    background-color:#cfdcc9;
    width:100%;
    box-shadow: 0 10px 10px -8px #364330;
}

hr /*Decorative Line under Headers */{
    border: 0;
    border-radius: 50px;
    height: 3px;
    background-color: #cfdcc9;
    width: 100px;
}

.building-details {
    padding:0 50px;
}

.amenity-title {
    font:20px "Fjalla One", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color:#283224;
    text-align: center;
    margin-top:40px;
}

#amenities-specific {
    margin-top:20px;
}

.amenities p {
    padding:5px 0;
}

.housing-right-side /* Images & Contact Info */{
    justify-content: center;
    background-color:#e7ede4;
    width:100%;
}

.address /* Found at top of Image */{
    font:20px "Fjalla One", sans-serif;
    background-color: #87A878;
    width:500px;
    padding:14px 0;
    margin-bottom: 5px;
    box-shadow: 0 10px 10px -8px #364330;
}

.housing-pg img {
    width:500px;
}

.housing-img /* Div containing Image and Side Arrows */{
    display: flex;
    align-items: center;
}

i /* Side Arrows */{
    font-size:50px;
    padding: 0 25px;
    cursor: pointer;
}

i:hover {
    color:#516448;
    transition: .15s;
}

.name /* Debbie's Name */{
    font-size:18px;
}

/* Lines around Name */
.name:before, .name:after {
 background-color: #333;
 content: "";
 display: inline-block;
 height: 2px;
 position: relative;
 vertical-align: middle;
 width: 8%;
}

.name:before {
 right: 0.5em;
 margin-left: -50%;
}

.name:after {
 left: 0.5em;
 margin-right: -50%;
}

.contact p /* Contact Info */{
    color:#1b2118;
    padding:1px;
}

/* Rental Application ==========================================================*/
.rental-app {
    background-color:#516448;
    padding:20px;
    margin: 40px 0 30px 0;
    box-shadow: 3px 3px 5px #283224;
    border-radius: 5px;
    cursor: pointer;
}

.rental-app:hover {
    background-color: #364330;
    box-shadow: 2px 2px 5px #283224;
    transition: .1s;
    transform: scale(.99);
}

h4 /* Rental Application (PDF) */{
    font:17px "Fjalla One", sans-serif;
    padding-bottom:8px;
    margin:0;
    color:#cfdcc9;
    letter-spacing: .8px;
}

.rental-app p /* Application Fee Required */{
    font-size:10px;
    color:#cfdcc9 ;
}

/* Mobile Responsive ==========================================================*/
@media only screen and (max-width: 1150px) {
    h1{
        font-size:6vw;
    }
    .housing-pg nav {
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (max-width: 1050px) {
    .homepage{
        flex-direction: column;
        justify-content: flex-end;
    }

    .left-side{
        height:100%;
        width:100vw;
        align-items: center;
        border-bottom:5px solid #364330;
    }

    h1{
        max-width: 100%;
        font-size:50px;
        padding:15px 0;
    }

    .right-side{
        height:100%;
        width:100vw;
       padding:30px; 
    }

    /* Individual Apts ==========================================================*/
    .housing-pg {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .top {
        background-color: #fefefe;
        width:100vw;
        margin:0;
    }

    .top nav {
        width:100vw;
    }

    span {
        color:#87A878 !important;
    }

    .housing-left-side,.housing-right-side{
        height: 100%;
        max-width:100vw;
        width:100vw;
        background-color: #87A878;
        max-height: 100%;
    }

    .amenities li {
        color:#0d100c;
    }

    .address {
        background-color:#f5f8f4;
        color:#516448;
    }

    .contact {
        padding-bottom: 30px;
    }
}